*,
*::after,
*::before {
    box-sizing: unset;
}

header.mobile .right-links .menu {
    position: static;
}

header.mobile .categories {
    display: none;
}

header.mobile .mobile-menu .selectLanguage {
    bottom: 0 !important;
}

.right-link.cart {
    display: none;
}