RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^shop/(.+)$ tp_category.php?name=$1
RewriteRule ^product/(.+)$ tp_product.php?id=$1

RewriteRule ^faq/(.+)$ tp_help.php?id=$1
RewriteRule faq tp_help.php

RewriteRule ^news/(.+)/(.+)$ tp_news.php?search=$1&value=$2 [L,QSA]
RewriteRule ^news/(.+)$ tp_news.php?page=$1 [L,QSA]
RewriteRule news tp_news.php [L,QSA]

RewriteRule list tp_list.php [L,QSA]

RewriteRule privacy tp_privacy.php [L,QSA]

RewriteRule ^order/(.+)$ tp_order.php?id=$1 [L,QSA]

RewriteRule consultant tp_consultant.php [L,QSA]

RewriteRule rules tp_rules.php [L,QSA]

RewriteRule terms tp_terms.php [L,QSA]

RewriteRule condition-reg tp_condition-reg.php [L,QSA]