.main-slider {
  width: 100%;
  height: 900px;
}

.main-slider .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.main-slider .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main-slider .swiper-wrapper .swiper-slide .container {
  display: block;
}

.main-slider .swiper-wrapper .swiper-slide .container.right > * {
  margin-left: auto;
  text-align: right;
}

.main-slider .main-slider_pagination {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 50px !important;
}

.main-slider .main-slider_pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.main-slider .main-slider_pagination .swiper-pagination-bullet-active {
  background: white;
}

.main-slider .slide_label {
  background: white;
  font-size: 32px;
  display: table;
  padding: 6px 24px 0 16px;
  margin-top: 100px;
}

.main-slider .slide_title_line {
  display: table;
  background-color: #0cbc64;
  color: #fff;
  padding: 16px 24px 0 16px;
  font-size: 84px;
}

@media (max-width: 768px) {
  .main-slider .slide_title_line {
    font-size: 54px;
  }
}

.main-slider a {
  margin-top: 64px;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: table;
  padding-left: calc( 32px + (109 - 32) * (100vw - 320px) / (1920 - 320));
}

.main-slider a i {
  margin-left: 15px;
}

.indexBlock {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .indexBlock {
    margin-top: 80px;
  }
}

.products_slider {
  padding-bottom: 20px !important;
}

.swiper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .swiper__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
}

.swiper__footer .swiper-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .swiper__footer .swiper-control {
    display: none;
  }
}

.swiper__footer .swiper-control .swiper-pagination {
  position: -webkit-sticky;
  position: sticky;
  text-align: initial;
  text-align: center;
  color: #929292;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.swiper__footer .swiper-control .swiper-pagination .swiper-pagination-current {
  font-size: 18px;
  color: #323232;
  margin-right: 3px;
}

.swiper__footer .swiper-control i {
  width: 11px;
  opacity: .5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  line-height: 20px;
}

.swiper__footer .swiper-control i.swiper-button__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper__footer .swiper-control i.swiper-button__prev.swiper-button-disabled {
  opacity: .2;
}

.swiper__footer .link {
  margin-left: auto;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.08em;
  cursor: pointer;
  color: #74c044;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media (max-width: 768px) {
  .swiper__footer .link {
    text-align: center;
    margin-left: 0;
  }
}

.swiper__footer .link .mdi {
  font-size: 14px;
  -webkit-transition: padding-left 0.2s;
  transition: padding-left 0.2s;
}

.swiper__footer .link:hover {
  color: #64A63B;
}

.swiper__footer .link:hover .mdi {
  padding-left: 10px;
}

.swiper__footer .link:hover:hover::after {
  margin-left: 15px;
  margin-right: 0;
}

.swiper__footer .link::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMDAwMDggMC42NjY2MjZMNS4wNjAwOCAxLjYwNjYzTDguNzgwMDggNS4zMzMyOUgwLjY2Njc0OFY2LjY2NjYzSDguNzgwMDhMNS4wNjAwOCAxMC4zOTMzTDYuMDAwMDggMTEuMzMzM0wxMS4zMzM0IDUuOTk5OTZMNi4wMDAwOCAwLjY2NjYyNloiIGZpbGw9IiM3NEMwNDQiLz48L3N2Zz4=);
  background-size: 10px 11px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: margin 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  transition: margin 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 0.5, 0.5, 1), margin 0.3s;
  transition: transform 0.3s cubic-bezier(0, 0.5, 0.5, 1), margin 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0.5, 0.5, 1);
}

.indexBrands {
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 360px) {
  .indexBrands {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .indexBrands {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 1150px) {
  .indexBrands {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.indexBrands li {
  min-height: 245px;
  display: -ms-grid;
  display: grid;
  counter-increment: none;
  padding: 0;
  position: static;
}

.indexBrands li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
  background-color: #F8F8F8;
  position: relative;
  text-decoration: none;
}

.indexBrands li a img {
  max-width: 100%;
}

.indexBrands li a p {
  color: #555;
  margin-top: 20px;
}

@media (min-width: 415px) {
  .indexBrands li a {
    padding: 35px 20px;
  }
}

.joinBlock .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fbfbfb;
}

.joinBlock .head h1,
.joinBlock .head p {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.joinBlock .head h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .joinBlock .head h1 {
    font-size: 22px;
    line-height: 1.5;
  }
}

.joinBlock .head p {
  max-width: 630px;
  line-height: 1.5;
  font-size: 16px;
}

.joinBlock .withbg {
  background: url(/static/images/photos/reg.jpg) no-repeat #000;
  height: 610px;
  max-height: 610px;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.joinBlock .withbg button {
  border: 8px solid #fff;
  padding: 16px 56px;
  color: #fff;
  font-size: 64px;
  cursor: pointer;
  font-family: "Bebas Neue" !important;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: auto;
  background: transparent;
  font-weight: lighter;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 100 !important;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.joinBlock .withbg button:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .joinBlock .withbg button {
    font-size: 32px;
    border: 4px solid #fff;
    padding-bottom: 11px;
  }
}
/*# sourceMappingURL=page_index.css.map */