@import "../common/vars.scss";
.main-slider {
    width: 100%;
    height: 900px;
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 100%;
            height: 100%;
            background-size: cover;
            display: flex;
            align-items: center;
            cursor: pointer;
            .container {
                display: block;
                &.right {
                    >* {
                        margin-left: auto;
                    }
                }
            }
        }
    }
    .main-slider_pagination {
        z-index: 999;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 50px !important;
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            margin-right: 10px;
            margin-left: 10px;
        }
        .swiper-pagination-bullet-active {
            background: white;
        }
    }
    .slide_label {
        background: white;
        font-size: 32px;
        display: table;
        padding: 6px 24px 0 16px;
        margin-top: 100px;
    }
    .slide_title_line {
        display: table;
        background-color: #0cbc64;
        color: #fff;
        padding: 16px 24px 0 16px;
        font-size: 84px;
    }
    a {
        margin-top: 64px;
        text-decoration: none;
        color: white;
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        display: table;
        padding-left: calc( 32px + (109 - 32) * (100vw - 320px) / (1920 - 320));
        i {
            margin-left: 15px;
        }
    }
}

.indexBlock {
    margin-top: 100px;
    @media(max-width: 768px) {
        margin-top: 80px;
    }
}

.products_slider {
    padding-bottom: 20px !important;
}

.swiper__footer {
    display: flex;
    margin-top: 30px;
    align-items: center;
    @media(max-width: 768px) {
        justify-content: center;
        margin-top: 15px;
    }
    .swiper-control {
        display: flex;
        align-items: center;
        @media(max-width: 768px) {
            display: none;
        }
        .swiper-pagination {
            position: sticky;
            text-align: initial;
            text-align: center;
            color: #929292;
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
            .swiper-pagination-current {
                font-size: 18px;
                color: $blackText;
                margin-right: 3px;
            }
        }
        i {
            width: 11px;
            opacity: .5;
            transition: opacity.2s;
            cursor: pointer;
            line-height: 20px;
            &.swiper-button__prev {
                transform: rotate(180deg);
                &.swiper-button-disabled {
                    opacity: .2;
                }
            }
        }
    }
    .link {
        margin-left: auto;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.08em;
        cursor: pointer;
        color: $primaryGreenColor;
        text-decoration: none;
        transition: color.2s;
        @media(max-width: 768px) {
            text-align: center;
            margin-left: 0;
        }
        .mdi {
            font-size: 14px;
            transition: padding-left.2s;
        }
        &:hover {
            .mdi {
                padding-left: 10px;
            }
            color: $primaryGreenColorDark;
            &:hover::after {
                margin-left: 15px;
                margin-right: 0;
            }
        }
        &::after {
            content: "";
            display: inline-block;
            margin-left: 10px;
            margin-right: 5px;
            width: 10px;
            height: 10px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMDAwMDggMC42NjY2MjZMNS4wNjAwOCAxLjYwNjYzTDguNzgwMDggNS4zMzMyOUgwLjY2Njc0OFY2LjY2NjYzSDguNzgwMDhMNS4wNjAwOCAxMC4zOTMzTDYuMDAwMDggMTEuMzMzM0wxMS4zMzM0IDUuOTk5OTZMNi4wMDAwOCAwLjY2NjYyNloiIGZpbGw9IiM3NEMwNDQiLz48L3N2Zz4=);
            background-size: 10px 11px;
            background-position: 0 0;
            background-repeat: no-repeat;
            transition: transform 0.3s cubic-bezier(0, 0.5, 0.5, 1), margin.3s;
        }
    }
}

.indexBrands {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    @media(min-width: 360px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
    @media(min-width: 1150px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    li {
        min-height: 245px;
        display: grid;
        counter-increment: none;
        padding: 0;
        position: static;
        a {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 20px 10px;
            background-color: #F8F8F8;
            position: relative;
            text-decoration: none;
            img {
                max-width: 100%;
            }
            p {
                color: #555;
                margin-top: 20px;
            }
            @media(min-width: 415px) {
                padding: 35px 20px;
            }
        }
    }
}

.joinBlock {
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #fbfbfb;
        h1,
        p {
            text-align: center;
            justify-content: center;
        }
        h1 {
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 0;
        }
        p {
            max-width: 630px;
            line-height: 1.5;
            font-size: 16px;
        }
    }
    .withbg {
        background: url(/static/images/photos/reg.jpg) no-repeat #000;
        height: 610px;
        max-height: 610px;
        background-size: cover;
        background-position: center;
        margin-top: 0;
        display: flex;
        button {
            border: 8px solid #fff;
            padding: 16px 56px;
            color: #fff;
            font-size: 64px;
            cursor: pointer;
            font-family: "Bebas Neue" !important;
            text-transform: uppercase;
            text-align: center;
            display: block;
            margin-bottom: auto;
            background: transparent;
            font-weight: lighter;
            margin: 0 auto;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: 100 !important;
            transition: opacity.4s;
            &:hover {
                opacity: .6;
            }
        }
    }
}