@import "vars.scss";
.language-selector {
    position: absolute;
    right: 29px;
    padding: 20px;
    background: white;
    top: 33px;
    color: $blackText;
    padding-top: 5px;
    box-shadow: -4px 0 20px 0 rgba(65, 61, 88, .10);
    opacity: 0;
    z-index: -9999;
    transition: opacity .3s;
    &.active {
        opacity: 1;
        z-index: 99;
    }
}

.language-container {
    @media(max-width: 768px) {
        margin-left: 20px;
        margin-right: 20px;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 0;
    }
    select {
        width: 280px;
        height: 40px;
        border: 1px solid #eee;
        font-size: 14px;
        margin-top: 10px;
        padding-left: 10px;
        max-width: 100%;
    }
    button {
        display: block;
        width: 100%;
        height: 40px;
        margin-top: 15px;
        background: $primaryGreenColor;
        border: none;
        color: white;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: background.2s;
        &:hover {
            background: $primaryGreenColorDark;
        }
    }
}