.popup__support-pulsate {
  position: fixed;
  width: 88px;
  height: 88px;
  right: 30px;
  bottom: 30px;
  border-radius: 50px;
  z-index: 99999;
}

.callpy_custom_mobile_photo__pulse-2 {
  -webkit-animation: pulsate-two 1s ease-out;
          animation: pulsate-two 1s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  background-color: #1279c5;
}

.callpy_custom_mobile_photo__pulse-1 {
  -webkit-animation: pulsate-one 1.5s ease-out;
          animation: pulsate-one 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.callpy_custom_mobile_photo__pulse-1,
.callpy_custom_mobile_photo__pulse-2 {
  border: 2px solid #1279c5;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
}

.popup__support-opener {
  position: fixed;
  width: 88px;
  height: 88px;
  border-radius: 50px;
  z-index: 99999;
  background: url(/static/images/photos/supportManager.png) center;
  background-size: 150%;
  border: 2px solid white;
  cursor: pointer;
}

.popup__support-opener::after {
  content: " ";
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  position: absolute;
  background-color: rgba(116, 192, 68, 0.32);
  border: 1px solid rgba(116, 192, 68, 0.64);
  opacity: 0;
  border-radius: 48px;
  -webkit-transition-duration: .24s;
          transition-duration: .24s;
  -webkit-transition-property: left, right, top, bottom, opacity;
  transition-property: left, right, top, bottom, opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  z-index: -1;
}

.popup__support {
  border-radius: 8px;
  background: #fff;
  bottom: 96px;
  min-width: 100px;
  min-height: 100px;
  position: fixed;
  right: 8px;
  bottom: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.1);
  max-width: 96%;
  overflow: hidden;
  width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: .24s;
          transition-duration: .24s;
  -webkit-transition-property: background, opacity, -webkit-transform;
  transition-property: background, opacity, -webkit-transform;
  transition-property: background, opacity, transform;
  transition-property: background, opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  z-index: 999999999;
}

.popup__support .hidden {
  display: none;
}

.popup__support .head {
  background: url(/static/images/photos/supportManager.png) center 240px;
  background-size: cover;
  width: 100%;
  height: 182px;
  font-weight: 500;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-top: -3px;
}

@media (max-width: 375px) {
  .popup__support .head {
    margin-bottom: 20px;
  }
}

.popup__support .head .popup-close {
  background: url(/static/images/ui-icons/close.png) no-repeat center;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-top: 16px;
  cursor: pointer;
  margin-top: 16px;
  margin-right: 26px;
  padding: 3px;
  border-radius: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.popup__support .content {
  background: url(/static/images/photos/SupportBG.svg);
}

.popup__support .content .main-container {
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px 24px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 2px 6px #00103014;
          box-shadow: 0px 2px 6px #00103014;
  overflow-y: auto;
  max-height: calc(100% - 100px);
}

.popup__support .content .main-container .title {
  color: #36424c;
  display: block;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 8px;
}

.popup__support .content .main-container .description {
  color: #36424c;
  font-size: 15px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.32px;
  line-height: 1.4;
  padding: 0 0 8px;
  margin-top: 10px;
  text-align: left;
}

.popup__support .content .main-container .description a {
  color: #74c044;
  text-decoration: none;
}

.popup__support .content .main-container .description a:hover {
  text-decoration: underline;
}

.popup__support .content .main-container .connect_with {
  margin-top: 10px;
}

.popup__support .content .main-container .connect_with .messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__support .content .main-container .connect_with .messengers a:first-child svg {
  width: 29px;
  height: 29px;
}

.popup__support .content .main-container .connect_with .messengers a:nth-child(2) svg {
  fill: #4a90e2;
}

.popup__support .content .main-container .connect_with .messengers a:last-child svg {
  fill: #27a6e5;
}

.popup__support .content .main-container .connect_with .messengers svg {
  width: 24px;
  height: 24px;
  fill: #74c044;
  margin-right: 15px;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.popup__support .content .main-container .connect_with .messengers svg:hover {
  fill: #64A63B;
}

.popup__support .content .main-container .callback {
  margin-top: 20px;
}

.popup__support .content .main-container .callback .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eee;
  border-radius: 8px;
}

.popup__support .content .main-container .callback .cta input {
  border: none;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  padding-left: 15px;
  font-size: 16px;
  width: 80%;
}

.popup__support .content .main-container .callback .cta .sendPhone {
  height: 40px;
  border-radius: 0px 8px 8px 0px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-left: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: background 0.2s, border 0.2s;
  transition: background 0.2s, border 0.2s;
}

.popup__support .content .main-container .callback .cta .sendPhone svg {
  fill: #74c044;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.popup__support .content .main-container .callback .cta .sendPhone:hover {
  background: #74c044;
  border: 1px solid #74c044;
}

.popup__support .content .main-container .callback .cta .sendPhone:hover svg {
  fill: white;
}

.popup__support .content .mail {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.3;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popup__support .content .mail span {
  text-decoration: underline;
  cursor: pointer;
}

.popup__support .content .mail-container {
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px 24px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 2px 6px #00103014;
          box-shadow: 0px 2px 6px #00103014;
  overflow-y: auto;
  max-height: calc(100% - 100px);
}

.popup__support .content .mail-container p {
  margin-bottom: 10px;
  margin-top: 15px;
}

.popup__support .content .mail-container input {
  width: calc(100% - 20px);
  height: 40px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding-left: 15px;
}

.popup__support .content .mail-container input,
.popup__support .content .mail-container textarea {
  font-size: 16px;
}

.popup__support .content .mail-container textarea {
  max-height: 200px;
  border-radius: 8px;
  resize: vertical;
  max-width: 100%;
  width: calc(100% - 20px);
  border: 1px solid #eee;
  padding-left: 15px;
  min-height: 50px;
  padding-top: 10px;
}

.popup__support .content .mail-container button {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  background: #74c044;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border: none;
  margin-top: 15px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}

.popup__support .content .mail-container button:hover {
  background: #64A63B;
}

@-webkit-keyframes pulsate-one {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

@keyframes pulsate-one {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

@-webkit-keyframes pulsate-two {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

@keyframes pulsate-two {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}
/*# sourceMappingURL=PopupSupport.css.map */