@import "vars.scss";
.popup__cookies {
    position: fixed;
    height: auto;
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 540px;
    background: white;
    z-index: 999999999;
    border-top: 8px $primaryGreenColor solid;
    color: rgba(54, 66, 76, 0.75);
    box-shadow: -4px 0 20px 0 rgba(65, 61, 88, .10);
    transform: translateX(1000%);
    transition: transform 1s;
    padding: 24px;
    &.visible {
        transform: translateY(-10%) translateX(-5%);
    }
    .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        display: block;
        padding: 5px 0;
        font-weight: 400;
    }
    .row_line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        height: auto;
        align-items: center;
    }
    .cookie__show_more {
        display: block;
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
        color: rgba(54, 66, 76, 0.5);
        letter-spacing: -0.32px;
        margin-left: auto;
        text-decoration: none;
        font-weight: 500;
    }
    .close_cookie_block button {
        background-color: $primaryGreenColor;
        padding: 12px 32px;
        cursor: pointer;
        font-size: 16px;
        color: #FFFFFF;
        height: 48px;
        letter-spacing: -0.22px;
        border: none;
        font-weight: 500;
    }
}